@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	scroll-behavior: smooth;
}
.collapsing {
	transition: .2s ease;
}

body {
	font-family: "Inter", sans-serif;
}

/* N A V B A R */
.navbar-main .container,
.navbar-main .navbar-collapse {
  padding: 0;
  min-height: 129px;
}
.navbar-main .navbar-brand {
  margin-right: 33px;
}
.navbar-main .highlight-menu-home,
.navbar-main .highlight-menu-chart {
  display: block;
  margin-bottom: auto;
  min-width: 62px;
  height: 91px;
  font-size: 24px;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-end !important;
  border-radius: 0 0 30px 30px;
}
.navbar-main .highlight-menu-home {
  padding-bottom: 16px;
  margin-right: 42px;
  background: #316B83;
  color: white;
}
.navbar-main .highlight-menu-chart {
  padding-bottom: 11px;
  margin-left: 30px;
  margin-right: 30px;
  background: #F7F7F7;
  color: #A0A0A0;
}
.navbar-main .form-search {
  margin-right: 30px;
  height: 56px;
}
.navbar-main .form-search .input-group-text,
.navbar-main .form-search .form-control {
  border: unset;
  background: #F9F9F9;
  border-radius: 36px;
}
.navbar-main .form-search .input-group-text i {color: #316B83;}
.navbar-main .form-search .form-control::placeholder {color:#B8B8B8;}
.navbar-main .nav-link {
  font-size: 16px;
  color: #3f3f3f;
}
.navbar-main .btn-masuk,
.navbar-main .btn-daftar {
  padding-left: 30px;
  padding-right: 30px;
  height: 44px;
  border-radius: 53px;
}
.navbar-main .btn-masuk {
  background: white;
  color: #316B83;
}
.navbar-main .btn-daftar {
  background: #316B83;
  color: white;
}

@media (max-width: 1200px) {
  .navbar-main .container,
  .navbar-main .navbar-collapse {
    padding: 0;
    min-height: calc(33px + (23px * 2));
  }
  .navbar-main .highlight-menu-home,
  .navbar-main .highlight-menu-chart {
    min-width: 51px;
    height: 68px;
    margin-bottom: 20px;
  }
}

/* ----------------------------------
# B R E A D
----------------------------------- */
.bread {
	margin-top: 100px;
}

.breadcrumb i {
    color: #316b83;
}
  
.breadcrumb a {
    color: #316b83;
}

/*----------------------------------------------
K O N T E N
-----------------------------------------------*/
.kiri .sub {
	font-size: 15px;
	line-height: 18px;
	color: #316b83;
}

.kiri .judul {
	font-weight: bold;
	font-size: 30px;
	line-height: 48px;
}
.badge {
	background-color: #316b83;
	text-decoration: none;
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
}

.card-text {
	margin-left: 10px;
	font-size: 15px;
	line-height: 18px;
}

.card-text a {
	color: #316b83;
	text-decoration: none;
}

.icon .like {
	color: #316b83;
	font-size: 25px;
}

.icon .share {
	color: #D0D0D0;
	font-size: 25px;
}

.no1 {
	font-weight: 600;
	font-size: 19px;
	line-height: 23px;
	color: #316B83;
  }
  
  .no2 {
	font-size: 14px;
	color: #316b83;
  }
  
  .no3 {
	font-size: 9px;
	line-height: 11px;
	display: flex;
	align-items: center;
	color: #959595;
  }
  
  .bi-globe {
	color: #A6A6A6;
	font-size: 16px;
  }
  
  .bahasa {
	font-size: 11px;
	line-height: 13px;
	display: flex;
	align-items: center;
	color: #2B2B2B;
  }
	
.nav-link.active {
	border-bottom: 1px solid #316b83;
}
	
li .nav-link {
	color: #316b83;
}
	
li .nav-link:hover {
	color: #000000;
}

.text-uppercase {
	font-size: 19px;
	line-height: 23px;
	letter-spacing: 0.11em;
	color: #BDBDBD;
	font-weight: bold;
}
  
  .card-body i {
	color: #316b83;
	font-size: 24px;
}

/* ------------------------------------------
# B  E L A J A R
--------------------------------------------- */

.belajar .text1 {
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.belajar .text {
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}

/* ------------------------------------------------
# K O N T E N - T R A I N I N G
-------------------------------------------------- */

.konten .judul {
	font-weight: 500;
	font-size: 23px;
	letter-spacing: 0.02em;
	color: #000000;
	margin-top: 105px;
  }

.konten .card {
	border: none;
}
  
  .accordion-item {
	border: none;
  }
  
  .accordion-item button {
	font-weight: 600;
	font-size: 15px;
	line-height: 21px;
	color: #000000;
  }
  
  .accordion-button::after {
	position: absolute;
	left: -1.5rem;
  }
  
  .accordion-button .rin {
	font-weight: 300;
	font-size: 13px;
	line-height: 21px; 
	color: #666666;
  }
  
  
  .accordion-body3 i {
	color: #BEBEBE;

  }
  
  .accordion-body3 .flex-grow-1 a {
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
  }
  
  .accordion-body3 a {
	color: #316b83;
  }

  span {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
  }

  /* ------------------------------------------------
  # D E S K R I P S I
  -------------------------------------------------- */
  
  .deskripsi .judul {
	margin-top: 100px;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.02em;
  }
  
  .isi p {
	margin-top: 26px;
	font-size: 20px;
	line-height: 31px;
	color: #000000;
  }
  
  .isi .text-decoration-none {
	font-weight: 600;
	font-size: 17px;
	line-height: 31px;
	color: #316b83;
  }

  /* ------------------------------------------------
# P E R S Y A R A T A N
-------------------------------------------------- */

.syarat {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	display: flex;
	letter-spacing: 0.02em;
	color: #000000;
  }
  
  .list {
	padding: 20px;
	font-size: 20px;
	line-height: 37px;
	color: #333333;
  }
  
  /* ------------------------------------------------
  # P R O G R E S S
  -------------------------------------------------- */
  .nilai {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	display: flex;
	letter-spacing: 0.02em;
	color: #000000;
	margin-top: 102px;
  }
  .icon-box .title{
	font-size: 108px;
	font-weight: bold;
	letter-spacing: 0.02em;
	width: 170px;
	height: 131px;
	color: #316b83;
  }
  
  .icon-box .icon {
	color: #316b83;
  }
  
  .icon-box p {
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #B6B6B6;
	margin-top: 12px;
  }
  
  .progress-bar {
	background-color: #316b83;
  }
  
  /* ------------------------------------------------
  # U L A S A N
  -------------------------------------------------- */
  
  .ulasan .judul {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	display: flex;
	letter-spacing: 0.02em;
	color: #000000;
	margin-top: 102px;
	margin-bottom: 55px;
  }
  
  .nama-u {
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
  }
  
  .hari-u {
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	color: #A2A2A2;
  }
  
  .icon-u {
	color: #316b83;
  }
  
  .des-u {
	font-size: 18px;
	line-height: 29px;
	color: #4D4D4D;
  }
  
  .like-u{
	color: #316b83;
	font-size: 18px;
	margin: 5px;
  }
  
  .dis-u{
	color: #B7B7B7;
	font-size: 18px;
	margin-left: 20px;
  }
  
  .lapor {
	font-weight: 300px;
	font-size: 14px;
	line-height: 17px;
	color: #316B83;
  
  }
  
  .view button {
	height: 61px;
	border: #316b83 solid ;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.11em;
	color: #316B83;
  
  }
  
  .view button:hover {
	background-color: #316b83;
	border: #316b83 solid ;
  }
  
  /* ------------------------------------------------
  # T R A I N I N G - P I L I H A N
  -------------------------------------------------- */
  
  .train {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	display: flex;
	letter-spacing: 0.02em;
	color: #000000;
	margin-top: 102px;
	margin-bottom: 55px;
  }
  .card-body1:hover {
	box-shadow: 0px 39.6031px 79.2062px rgba(49, 107, 131, 0.28);
  }
  
  .carousel-control-prev {
	left: -90px;
  }
  .carousel-control-next {
	right: -55PX;
  }


  /* --------------------------------------------
  K A N A N 
  ---------------------------------------------- */
  .d-flex .badge {
	text-decoration: none;
	background-color: #316b83;
	color: #ffffff;
	border-color: #316b83;
	font-weight: 600px;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.13em;
	text-align: center;
	margin-right: 21px;
  }
  
  .d-flex .card-text {
	font-size: 15px;
  }
  
  .d-flex .card-text a {
	color: #316b83;
	text-decoration: none;
	margin-left: 5px;
  }
  
  .d-grid .btn-primary {
	border-color: #316b83;
	width: 106px;
	height: 77px;
	margin-right: 20px;
	background-color: #ffffff;
  }
  
  .d-grid .btn-primary:hover {
	box-shadow: 0px 20px 100px rgba(49, 107, 131, 0.2);
  }
  
  .d-grid .btn-primary i {
	font-size: 42px;
	color: #316b83;
  }
  .d-grid .btn-secondary {
	background-color: #316b83;
	width: 315px;
	height: 77px;
	font-weight: 500;
	font-size: 23px;
	line-height: 28px;
  }
  
  .d-flex .text-start{
	font-size: 40px;
	line-height: 48px;
	color: #316B83;
	margin-right: 24px;
	
  }
  
  .d-flex .text-muted {
	font-size: 23px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #A0A0A0;
	
  }
  
  .card-content {
	width: 445px;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
	position: relative;
  }
  
  .list-group .badge {
	background: #316b83;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.08em;
	color: #FFFFFF;
  }
  .list-group-item i {
	color: #d4d4d4;
	font-size: 24px;
	width: 24PX;
  }
  
  li .list-group-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  }
  /* card footer */
.card-footer {
	background-color: #ffffff;
  }
  .google {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
	color: #555555;
  }
  
  .logo img {
	width: 58px;
  }
  
  .rating {
	font-size: 23px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #000000;
  }
  
  .rat {
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.02em;
	color: #989898;
  }
  
  .profil {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #316B83;
  }

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.footer {
	margin-top: 250px;
	background-color: #fff;
	box-sizing: border-box;
	padding: 50px;
  }
  
  .footer h3 {
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
  }
  
  .footer ul {
	list-style: none;
	font-weight: 500;
	font-size: 19px;
	line-height: 23px;
  }
  
  .footer ul li {
	margin-bottom: 20px;
  }

  .footer ul li a {
	  text-decoration: none;
	  color: #BBBBBB;
  }
  
  .footer p {
	width: 264px;
	height: 38px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #BABABA;
  }
  
  .footer ul a:hover {
	opacity: 1;
  }
  
  .footer .item.social {
	text-align:left;
	width:7,26px;
  }
  
  @media (max-width:767px) {
	.footer .item {
	  text-align: center;
	  padding-bottom: 20px;
	}
  }
  
  @media (max-width: 768px) {
	.footer .item.social {
	  text-align: center;
	}
  }
  .footer .item.social > a {
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin-top: 22px;
	color: #316b83;
	opacity: 0.75;
  }
  
  .footer .item.social > a:hover {
	opacity: 0.9;
  }
  
  @media (max-width:991px) {
	.footer .item.social > a {
	  margin-top: 40px;
	}
  }
  
  @media (max-width:767px) {
	.footer .item.social > a {
	  margin-top: 10px;
	}
  }
  
  .footer .get {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	text-align: left;
  }
  
  .footer .pertanyaan {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #BBBBBB;
	text-align: left;
  }
  
  .footer .text-decoration-none {
	color: #316b83;
  }
