@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	font-family: "Inter", sans-serif;
}
/* N A V B A R */
.navbar {
	background:#ffffff;
	box-sizing: border-box;
	padding-top: 0 ;
}

.wrap-content {
	display: flex;
	justify-content: center;
}

.label {
	width: 3.5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 0 0 2rem 2rem;
	background: #316b83;
  }

  .label i {
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 0.8rem;
  }

  .form {
	position: relative;
	margin-left: 10px;
  }
  .form .fa-search {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #9ca3af;
  }
  
  .form-control {
	height: 56px;
	width: 400px;
	text-indent: 33px;
	border-radius: 36px;
	color: #F9F9F9;
  }
  
  .form-control:focus {
	box-shadow: none;
	border: #9ca3af;
  }
  
  .nav-link {
	font-size: 16px;
	line-height: 19px;
	color: #3F3F3F;
  }

  .navbar-nav .wrap-content {
	display: flex;
	justify-content: center;
  }
  
  .navbar-nav .chart {
	width: 3.5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 0 0 2rem 2rem;
	background: #F7F7F7;
  }
  
  .navbar-nav .chart i {
	font-size: 24px;
	color: #316b83;
  }

.btn-nav1 {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	border: none;
	background: #fff;
	color: #316B83;
	width: 105px;
	height: 44px;
	border-radius: 53px;
	margin-right: 10px;
}
.btn-nav1:hover {
	background-color: #316b83;
  	color: #ffffff;
}

.btn-nav2 {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	background: #316B83;
	border-radius: 53px;
	width: 105px;
	height: 44px;
}

.btn-nav2:hover {
	color: #fff;
}

/* H E R O */

.main {
	margin-top: 68px;
}
.judul {
	font-weight: 600;
	font-size: 64px;
	line-height: 81px;
	color: #000000;
}

.sub {
	margin-top: 22px;
	font-size: 21px;
	line-height: 25px;
	color: #636363;
}

.hero a {
	margin-top: 60px;
	width: 267px;
	height: 64px;
	box-sizing: border-box;
}

.hero .btn-theme1 {
	background: #316B83;
	border-radius: 53px;
	color: #fff;
	font-weight: bold;
	font-size: 21px;
	line-height: 25px;
	align-items: center;
	padding: 15px;
	margin-right: 5px;
}

.hero .btn-theme1:hover {
	box-shadow: 0px 30px 100px rgba(49, 107, 131, 0.5);
}

.hero .btn-theme2 {
	border-radius: 53px;
	background: #fff;
	border: 3px solid #316B83;
	color: #316B83;
	font-weight: 600;
	font-size: 21px;
	line-height: 25px;
	padding: 15px;
}

/* A B O U T */

.about {
	margin-top: 200px;
}

.about p {
	width: 454px;
	height: 93px;
	font-weight: 500;
	font-size: 26px;
	line-height: 31px;
}

.about a {
	font-weight: 500;
	font-size: 19px;
	line-height: 23px;
	color: #316B83;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.client{
	margin-top: 147px;
	height: 117px;
	border-radius: 0px;
	background: #316b83;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.client img {
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  width: 56px;
  margin-left: 50px;
}
.client img:hover {
  filter: none;
  transform: scale(1.1);
}
.flex-grow-1 {
  font-size: 15px;
  line-height: 18px;
  width: 277px;
  color: #ffffff;
}


/* P I L I H A N */

.training {
	margin-top: 176px;
}

.training .text-center {
	margin-bottom: 50px;
	font-weight: 600;
	font-size: 38px;
	line-height: 46px;
}

.training .card-body:hover {
	box-shadow: 0px 39.6031px 79.2062px rgba(49, 107, 131, 0.28);
  }

/* K A T E G O R I */
.kategori {
	margin-top: 160px;
}
.kategori h2 {
	font-weight: 600;
	font-size: 38px;
	line-height: 46px;
	margin-bottom: 16px;
}

.kategori p {
	font-size: 21px;
	line-height: 25px;
	color: #6C6C6C;
}

.kategori .icon-box {
	margin-top: 89px;
	width: 273.27px;
	padding: 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
	box-sizing: border-box;
  }
  .kategori .icon-box::before {
	content: "";
	position: absolute;
	background: #e1f0fa;
	right: -60px;
	top: -40px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	transition: all 0.3s;
	z-index: -1;
  }
  .kategori .icon-box:hover::before {
	background: #316b83;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 0px;
  }
  .kategori .icon {
	margin: 0 auto 20px auto;
	padding-top: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: #316b83;
	transition: all 0.3s ease-in-out;
  }
  .kategori .icon i {
	font-size: 36px;
	line-height: 1;
	color: #fff;
  }
  .kategori .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 70.6731px;;
	color: #316b83;
  }
  
  .kategori .description {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 0;
  }
  .kategori .icon-box:hover .title,
  .kategori .icon-box:hover .description {
	color: #fff;
  }
  .kategori .icon-box:hover .icon {
	background: #fff;
  }
  .kategori .icon-box:hover .icon i {
	color: #316b83;
  }
  
  .kategori .icon-box:hover {
	box-shadow: 0px 28.2692px 103.654px rgba(49, 107, 131, 0.33);
  }
  
  .kategori .icon-box {
	margin-bottom: 85px;
  }
  
  
  .btn .btn-secondary {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	background-color: #ffff;
	color: #8c8c8c;
	border: 0;
  }
  
  .btn :hover {
	color: #070707;
  }
  
/* R E V I E W */
.review {
	margin-top: 159px;
}
.review h2 {
	font-weight: 600;
	font-size: 38px;
	line-height: 46px;
	text-align: center;
}

.review p {
	font-size: 21px;
	line-height: 25px;
	color: #6C6C6C;
}

.review .icon-box {
	margin-top: 94px;
	height: 399px;
	padding: 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
	margin-bottom: 198px;
	box-sizing: border-box;
  }
  
  .review .icon-box:hover {
	box-shadow: 0px 28.2692px 103.654px rgba(49, 107, 131, 0.33);
  }
  
  .review .icon-box .btn-primary {
	margin-top: 81px;
	background: rgba(49, 107, 131, 0.1);
	color: #316b83;
	border: none;
	border-radius: 49px;
	font-size: 23.5577px;
	width: 291px;
  }
  
  .review .icon-box:hover .btn-primary {
	background: rgba(255, 255, 255, 0.18);
	color: rgba(255, 255, 255, 0.65);
  
  }
  .review .icon-box::before {
	content: "";
	position: absolute;
	background: #e1f0fa;
	right: -60px;
	top: -40px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	transition: all 0.3s;
	z-index: -1;
  }
  .review .icon-box:hover::before {
	background: #316b83;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 0px;
  }
  .review .icon {
	margin: 0 auto 20px auto;
	padding-top: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: #316b83;
	transition: all 0.3s ease-in-out;
  }
  .review .icon i {
	font-size: 36px;
	line-height: 1;
	color: #fff;
  }
  .review .title {
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 71px;
	color: #316b83;
  }
  
  .review .description {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 0;
  }
  .review .icon-box:hover .title,
  .review .icon-box:hover .description {
	color: #fff;
  }
  .review .icon-box:hover .icon {
	background: #fff;
  }
  .review .icon-box:hover .icon i {
	color: #316b83;
  }

  /* M E N G A J A R */
  .ngajar h1 {
	font-weight: 600;
	font-size: 61px;
	line-height: 81px;
  }

  .ngajar p {
	margin-top: 22px;
	font-size: 21px;
	line-height: 25px;
	color: #636363;
  }

  .ngajar a {
	margin-top: 55px;
	font-weight: bold;
	font-size: 21px;
	line-height: 50px;
	color: #fff;
	
  }

  .ngajar .btn-ngajar{
	width: 267px;
	height: 64px;
	background: #316B83;
	border-radius: 53px;
  }

  .ngajar .btn-ngajar:hover{
	box-shadow: 0px 30px 100px rgba(49, 107, 131, 0.5);
	color: #fff;
  }

  /* K O M E N T A R */
  .komen {
	  margin-top: 244px;
  }

  .komen h2 {
	font-weight: 600;
	font-size: 38px;
	line-height: 46px;
	margin-bottom: 43px;
  }

  .komen p {
	font-size: 21px;
	line-height: 25px;
	color: #6C6C6C;
  }
  
  .komen .intro p {
	margin-top: 43px;
	margin-bottom: 107px;
  }
  
  .komen .people {
	box-sizing: border-box;
	padding-bottom: 40px;
  }
  
  .komen .item {
	text-align: center;
	padding-top: 50px;
  }
  
  .komen .item .name {
	font-size: 22px;
	font-weight: bold;
	margin-top: 28px;
	margin-bottom: 8px;
	color: inherit;
  }
  
  .komen .item .title {
	color: #969696;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
  }
  .komen .item hr {
	width: 88px;
	margin: 24px auto;
  }
  .komen .item .description {
	width: 297px;
	height: 240px;
	font-size: 20px;
	line-height: 30px;
	margin: 15px auto;
  }
  
  .komen .item img {
	margin-bottom: 38px;
	max-width: 160px;
	width: 151px;
  }
  
  .komen .social {
	font-size: 18px;
	color: #a2a8ae;
  }
  
  .komen .social a {
	color: inherit;
	margin: 0 10px;
	display: inline-block;
	opacity: 0.7;
  }
  
  .team-clean .social a:hover {
	opacity: 1;
  }

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.footer {
	margin-top: 250px;
	background-color: #fff;
	box-sizing: border-box;
	padding: 50px;
  }
  
  .footer h3 {
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
  }
  
  .footer ul {
	list-style: none;
	font-weight: 500;
	font-size: 19px;
	line-height: 23px;
  }
  
  .footer ul li {
	margin-bottom: 20px;
  }

  .footer ul li a {
	  text-decoration: none;
	  color: #BBBBBB;
  }
  
  .footer p {
	width: 264px;
	height: 38px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #BABABA;
  }
  
  .footer ul a:hover {
	opacity: 1;
  }
  
  .footer .item.social {
	text-align:left;
	width:7,26px;
  }
  
  @media (max-width:767px) {
	.footer .item {
	  text-align: center;
	  padding-bottom: 20px;
	}
  }
  
  @media (max-width: 768px) {
	.footer .item.social {
	  text-align: center;
	}
  }
  .footer .item.social > a {
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin-top: 22px;
	color: #316b83;
	opacity: 0.75;
  }
  
  .footer .item.social > a:hover {
	opacity: 0.9;
  }
  
  @media (max-width:991px) {
	.footer .item.social > a {
	  margin-top: 40px;
	}
  }
  
  @media (max-width:767px) {
	.footer .item.social > a {
	  margin-top: 10px;
	}
  }
  
  .footer .get {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	text-align: left;
  }
  
  .footer .pertanyaan {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #BBBBBB;
	text-align: left;
  }
  
  .footer .text-decoration-none {
	color: #316b83;
  }




